html,
body {
    height: 100%;
}

body {
    background-color: gray;
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}
h1 {
    color: black;
    font-size: 40px;
    justify-content: center;
}
p {
    color: black;
    font-size: 25px;
    justify-content: center;
}
.text-muted a{
    -bs-text-opacity: 1;
    color: black;
    font-size: 25px;
}
.btn-warning {
    color: #000;
    background-color: #ddd9cf;
    border-color: #8f8b81;
}
img{
    width: 100%;
    margin: auto;
}
.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.img {
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
}